
.driver-layout {
    display: flex;
    min-height: 100vh;
    background-color: var(--theme-light-bg);
    position: relative;
}


.side-menu {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: var(--side-menu-width);
  min-height: 100vh;
  background-color: var(--theme-white);
  color: var(--theme-font);
  padding: 0;
  box-sizing: border-box;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0.125rem 0 0.625rem rgba(0, 0, 0, 0.05);
  position: fixed; 
  left: 0;
  top: 0;
  z-index: 1000;
}

.driver-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: var(--side-menu-width); 
    position: relative; 
}

.driver-navbar {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-height);
    background-color: var(--theme-white);
    padding: 0 1.875rem; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.05);
    position: sticky; 
    top: 0;
    z-index: 999;
}

.driver-content-area {
    padding: 1.875rem; 
    flex: 1;
    overflow-y: auto;
}

@media (max-width: 1024px) {
    :root {
        --collapsed-width: 65px; 
    }

    .side-menu {
        width: var(--collapsed-width) !important;
        align-items: center;
        padding: 15px 0;
    }

    .driver-main {
        margin-left: var(--collapsed-width) !important;
    }
    .driver-navbar {
        padding: 0 1rem;
    }
    .fleet-info {
        display: none; 
    }
}

@media (max-width: 768px) {
    .driver-layout {
        flex-direction: column;
    }
    .side-menu {
        width: 100%;
        min-height: auto;
        height: var(--navbar-height); 
        position: relative;
        border-right: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.05);
    }
    .driver-main {
        margin-left: 0;
        padding-top: 0; 
    }
    .driver-navbar {
        position: relative; 
        width: 100%; 
    }
}