.login-heading {
    padding-top: 18%;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px;
  height: 42px;
}

.eye-icon {
  position: absolute;
  right: 12px;
  cursor: pointer;
  font-size: 18px;
  color: #666;
}

.eye-icon:hover {
  color: #000;
}
