

.registration-form{
    padding-top: 0.5rem;
}

.register-heading{
    padding-top: 1rem;
}

.phone-flex-row {
    display: flex;
    gap: 0.8rem;
    margin: 0;
}

.code-box {
    flex: 0.3;
    margin: 0;
}

.phone-box {
    flex: 0.7;
    margin: 0;
}

.split-flex-row {
    display: flex;
    gap: 0.8rem;
}

.split-flex-row .form-row {
    flex: 1;
}

.split-flex-row select,
.split-flex-row input {
    height: 42px;
    box-sizing: border-box;
}


.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px;
  height: 42px;
}

.eye-icon {
  position: absolute;
  right: 12px;
  cursor: pointer;
  font-size: 18px;
  color: #666;
}

.eye-icon:hover {
  color: #000;
}
